
circle.event {
	fill: #89a;
	stroke: #345;
	stroke-width: 1px;
}

line.event {
	stroke: #345;
	stroke-width: 1px;
	shape-rendering: crispEdges;
}

rect.bar {
	fill: #8a9;
	stroke-width: 0px;
}

.axis path, .axis line {
	fill: none;
	stroke: #666;
	stroke-width: 1px;
	shape-rendering: crispEdges;
}


